<html>
<head>
    <title>ドット絵のコキンちゃんを表示するページです</title>
    <link href="/Css/Kokinchan.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <button id="KokinchanButton">Kokinchan</button>



    <div id="Canvas"></div>

    <script src="~/JavaScript/Kokinchan.js"></script>
</body>
</html>