<html>
<head>
    <title>ドット絵のコキンちゃんを表示するページです</title>
    <link href="/Css/Kokinchan5.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <span>青</span>
        <input type="text" id="BlueTextBox" value="#87cefa" />
        <span>白</span>
        <input type="text" id="WhiteTextBox" value="#ffffff" />
        <span>緑</span>
        <input type="text" id="GreenTextBox" value="#3cb371" />
        <span>オレンジ</span>
        <input type="text" id="OrangeTextBox" value="#ff7f50" />
        <span>赤</span>
        <input type="text" id="RedTextBox" value="#da349c" />
        <span>黒</span>
        <input type="text" id="BlackTextBox" value="#000000" />
    </div>
    <button id="StartButton">Start</button>

    <div id="Kokinchan5Panel">
    </div>

    <script src="~/JavaScript/Kokinchan5.js"></script>
</body>
</html>